html{
    border: 30px solid rgb(128, 135, 146);
    border-style: ridge;
}

.display-4{
    margin-bottom: 60px;
}

thead th span.icon-arrow{
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;

    text-align: center;
    font-size: 1rem;

    margin-left: .5rem;
}

thead th {
    background-color: rgb(50, 75, 75);
}

thead th.active {
    color: rgb(69, 162, 243);
}

#addBtn {
    display: flex;
    justify-content: flex-start;
    
}

#book-form{
    text-align: left;
    width: 30%;
    margin-right: 120px; 
}

.bookshelfInfo{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bolder;
}

.favoriteBooks{
    text-decoration: none;
    text-align: left;
    font-weight: lighter;
}

#book-form2{
    width: 30%;
    margin-left: 150px;
    
}
#book-forms{
    display: flex;
    justify-content: space-between;

}

#searchInput{
    margin-top: 20px;
    width: 23vw;

}

#searchBtn{
    background-color: rgb(125, 125, 172);
    margin-top: 10px;
    margin-bottom: 100px;
    border-radius: 0.5em;
    width: 23vw;
    height: 40px;
}

.sortFunction{
    display: flex;
    justify-content: space-between;
    border: 3px solid white;
    padding: 5px;
    border-radius: 0.5em;
}

#sortby{
    width: 70%;
    text-align: center;
}